<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div id="app">
        <button @click="showText = !showText" >Aç/Kapat</button> 
        
        <h1 class="text-info" v-if="showText==true" >Text One</h1>
        <h1 class="text-warning" v-if="showText==false"  >Text Two</h1>

        <button class="btn btn-danger me-3" @click="counter--" >Azalt</button>
        <button class="btn btn-success"  @click="counter++" >Artır</button>
        <br> <br>
        <h3>{{counter}}</h3>
        <br>
        <h3 :class="showElement"  v-if="counter > 0"  >Sayaç Değeri Pozitif</h3>
        <h3 :class="showElement" v-else-if="counter < 0"  >Sayaç Değeri Negatif</h3>
        <h3 :class="showElement" v-else>Sayaç Değeri 0</h3>

        <!-- v-if yerine v-show kullanarak element display:none olarak görünmez yapılabilir. v-if Dom üzerinden kaldırırken v-show sadece gizleme yapar. Gizlenmesini istediğimiz durumlarda kullanılır. -->
    </div>
    

    <script src="condition.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>